# Generic
.DS_Store

# Python
.Python
*.pyc
*.pyo
*.egg-info/

# Distribute
/build/
/dist/
/deb_dist/

# Virtualenv
#/bin/
/include/
/lib/
/local/

# Sphinx
/docs/.build/

# GTFS Build
/data/gtfs/results
/data/gtfs/*.zip
/data/gtfs/**/*.gtfsdb
/scripts/tests
/scripts/alltests.zip

# Latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lod
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
